/* Variables */

:root {
  --main-color: white;
  --secondary-color: rgb(0, 0, 255);
  --tertiary-color: #010101;
  --box-accent: rgb(73, 73, 73);
  --section-background: rgb(3, 10, 78);

}

/* Universal Styles */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--main-color);
  line-height: 1.5;

}

/* HTML Stylings */

body {
  background-image: url(./images/EarthSpace.jpg);
  background-color: var(--tertiary-color);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
  padding: 0;
}

 header h1 {
  position: relative;
  height: 83px;
  justify-content: center;
  margin: 3%;
  padding: 4%;
  border: var(--main-color);
  font-variant: small-caps;
  font-size: 72px;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: var(--main-color);
  text-shadow: -8px 4px 3px var(--secondary-color);
}



h2 {
text-align: center;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
font-size: 40px;
padding: 25px;
margin: 25px;


}

h2 span{
  background-color: var(--tertiary-color);
  padding: 15px;
  border-radius: 15px;
  border-right: 2px solid var(--box-accent);
  border-top: 2px solid var(--box-accent);

}

h3 {
  position: relative;
  justify-content: center;
  margin: 2%;
  padding: 1%;
  border: var(--main-color);
  font-variant: small-caps;
  font-size: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: var(--main-color);
  text-shadow: -8px 4px 3px var(--secondary-color);
}

nav {
  display: flex;
  width: 8%;
  margin-left: 5%;
  margin-top: 4%;
  position: absolute;
/* This assures the nav will always display ontop of other elements */
  z-index: 1;
}

nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  left: 9px;
  margin: 0;
  padding: 0;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 8px;
  border: 2px solid var(--main-color);
  background-color: var(--section-background);
}

section img {
  margin-top:3%;
  width: 30%;
  border-radius: 8px;
  height: auto;
  max-width: 100%;
  /* border: 10px solid var(--box-accent); */
}


section div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  width: 300px;
  border-radius: 8px;
  height: auto;
  max-width: 100%;
}

section article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 70px;
}

section div p {
  display: flex;
  text-align: center;
  font-size: 20px;
  font-family: monospace;
}

.paragraph-container {
  background: var(--tertiary-color);
  border-radius: 8px;
  border: 10px solid var(--box-accent);


}

.nav-links {
  font-variant: small-caps;
  text-decoration: none;
  background-color: var(--tertiary-color);
  margin: 5px;
  padding: 3px;
  border-radius: 15px;
  border-right: 2px solid var( --box-accent);
  border-top: 2px solid var( --box-accent);
  line-height: 2;
  z-index: 2;
}

 /* Hover formatting for nav and contact links*/
 .nav-links:hover{
  box-shadow: inset 0px 0px 8px var(--main-color), 0 0 15px var(--main-color);
  transform: scale(2);
}


main {
  padding: 2%;
}

article {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

article h1 {
  padding: 20px;
  font-variant: small-caps;
  font-size: 30px;
}

section article p {
  font-family: monospace;
  font-size: 20px;
  padding: 30px;
  text-align: justify;
}

.redirectBtn {
  justify-content: center;
  padding: 40px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 50%;
  border-radius: 8px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: var(--tertiary-color);
  padding: 3%;
  border: 10px solid var(--box-accent);
}

.card-description {
  background-color: var(--section-background);
  border-radius: 8px;
  
}

.card button {
  outline: 0;
  padding: 12px;
  border-radius: 8px;
  color: white;
  background-color: var(--box-accent);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
  box-shadow: inset 0px 0px 8px var(--secondary-color), 0 0 15px var(--secondary-color);
  transform: scale(1.2);
}

  footer {
    padding: 70px;
  }
  
  footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 9px;
  padding: 10px;
  text-align: center;
  }


  @media screen and (max-width: 786px) {
    header h1 {
      font-size: 50px;
    }
    header h3 {
      font-size: 25px;
    }
  }

  @media screen and (max-width: 550px) {
    header h1 {
      font-size: 35px;
    }
    header h3 {
      font-size: 20px;
    }
  }